.form{
    width:45rem;
    max-width: 90%;

    margin: 2rem auto;
}

.input-grp{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin-bottom: 1.25rem;
    align-items: center;
}
.input-grp label{
    display: block;
    flex:1;
}
.input-grp input{
    display: block;
    width:100%;
    flex:3;
    padding: 0.5rem;
    background-color:white;
    border-radius: 0.75rem;
    border: 1px solid #ccc;
}

.input-grp input:hover,
.input-grp input:active,
.input-grp input:focus{
    outline: none;
}

.input-grp textarea{
    display: block;
    width:100%;
    flex:3;
    padding: 0.5rem;
    background-color:white;
    border-radius: 0.75rem;
    border: 1px solid #ccc;
}

.input-grp textarea:hover,
.input-grp textarea:active,
.input-grp textarea:focus{
    outline: none;
}

.actions{
    margin-top:1rem;
    
}
.actions Button{
    width:100%;
}

@media (min-width:568px){
    .input-grp{
        flex-direction: row;
    }
    .actions Button{
        width: auto;
    }
}
